.itineraryCreator-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.7em;
  max-width: 50em;
}

.panel-image {
  max-height: 3.5em;
  max-width: 3.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-image-label {
  margin-top: 0.5em;
  font-size: 1em;
  color: darkcyan;
}

.titlePanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  align-items: center;
  /* justify-content: space-between; */
}

.titlePanelImage {
  max-height: 3em;
  max-width: 3em;
  margin: 1em 1em 1em 1em;
}

.titlePanelText {
  font-size: 1em;
  color: black;
}

.dayTitleContainer {
  margin: 0px auto;
}

/* TODO: Find a better way to center the day title. */
.dayTitle {
  font-size: 1.5em;
  color: black;
  /* left: 50%; */
  /* margin: -50%; */
  /* padding-right: 75px; */
}

.dayLocationImage {
  max-height: 3em;
  max-width: 3em;
  margin: 1em 1em 1em 1em;
}
